@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryPR: hsla(212, 92%, 61%, 1);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

/* styles for the task */
header,
section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* Test styles */
.main {
  width: 100%;
  display: flex;
}

/*** Styles for the header***/
.header--row--1,
.header--row--2,
.nav--list {
  display: flex;
  align-items: center;
}

.header--row--1,
.header--row--2 {
  /* padding: 0.8px; */
  margin: 0;
  /* max-width: 1440px; */
  max-width: 100%;
  min-height: 56px;
}

.header--row--1 .logo--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* gap: 0.2rem; */
  /* margin: 0 20px 0 0; */
}

.header--row--1 .logo--icon svg {
  height: 30px;
  width: 30px;
}

h1 {
  font-weight: 600;
  letter-spacing: -1.4%;
  /* font-weight: ;
    font-family: ; */
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.header--row--1 .blue--background {
  color: white;
  background-color: var(--PrimaryPR);
  border-radius: 0.5rem;
  text-align: center;
  padding: 8px 16px;
  margin: 0 10px 0 25px;
  gap: 0.3rem;
  font-size: 0.6rem;
}

.shopping--ctg {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.sign--in--btn {
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 0.5rem;
  border: 1px solid hsla(200, 11%, 88%, 1);
  padding: 12px 16px;
  flex-shrink: 0;
  margin-left: 10px;
}

/* .header--row--1 .logo--icon {
  margin-left: 5px;
} */

.smll--size {
  width: 19px;
  height: 19px;
}

.header--row--1 > form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 560px; */
  width: 100%;
  min-height: 38px;
  padding: 0.2rem 0.6rem;
  gap: 0.8rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid var(--Gray-300, #d0d5dd);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  /* margin-top: 4rem; */
}

.header--row--1 > form input {
  border: none;
  outline: none;
  flex-grow: 1;
  /* font-family: ; */
  font-size: 0.7rem;
  padding: 0.2rem 0;
}

.header-content > form input::placeholder {
  color: var(--Gray-500, #667085);
}

/* header--row--2 */
.nav--list {
  list-style: none;
  text-decoration: none;
  gap: 3rem;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: #5b6871;
}

.seller {
  margin-left: auto;
}

hr {
  height: 1px;
  width: 100%;
  color: hsla(200, 12%, 91%, 1);
}

/* styles for the task */

/* search find */
.search-find {
  display: flex;
  justify-content: space-around;
}

.search {
  font-weight: 600;
  font-size: 24px;
}

.text-color {
  color: #4094f7;
}

.search-find .icon-select {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dde2e4;
  border-radius: 6px;
  padding: 4px 14px 4px 12px;
  gap: 4px;
}

.dropdown > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9aa6ac;
}

.dropdown > p > span {
  color: #252c32;
  padding-left: 5px;
}

.icon-select .dropdown img {
  width: 8px;
  height: 4px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-select .icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* filter section styles starts here */

#filters {
  width: 280px;
  height: 708px;
  position: relative;
}

/* styles for the min and max inputs */
#filters > div > input[placeholder] {
  width: 132px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #dde2e4;
  padding: 4px 12px;
  margin-top: 4px;
  box-sizing: border-box;
}

/* removes the outline while min and max input is focused */
#filters > div > input[placeholder]:focus {
  outline: none;
}

/* styles for only the max input */
#filters > div > input:nth-of-type(2)[placeholder] {
  position: absolute;
  left: 144px;
}

/* styles for all h3 in the filter container */
#filters h3 {
  font-weight: 600;
  height: 24px;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 5px 0px;
  color: #252c32;
  box-sizing: border-box;
}

/* margin rules for all h3s expect the first one containing (Price, $) */
#filters h3:not(#filters h3:first-of-type) {
  margin: 20px 0px 6px;
}

/* styles for all the divs in filter containing the checkboxes and their labels */
#filters > div:not(#filters > div:first-of-type) {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 280px;
  height: 24px;
  margin-top: 4px;
}

/* styles for the checkboxes */
#filters div > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #b0babf;
  box-sizing: border-box;
  appearance: none;
  background-color: #f6f8f9;
}

/* styles for the checkboxes wen they are checked */
#filters div > input[type="checkbox"]:checked {
  background-color: #b0babf;
}

/* styles for the checkboxes labels */
#filters div > label {
  font-size: 0.875rem;
  padding: 5px 0px;
  color: #252c32;
}

/* end of filter styles */

.serp-flex-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.serp-row {
  align-items: flex-start;
  display: flex;
}

.serp-card {
  position: relative;
  height: 394px;
  width: 310px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 24px;
}

.serp-card div h4 {
  color: #252c32;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.serp-card div h3 {
  color: #252c32;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
}

.serp-stars {
  align-items: center;
  display: flex;
}

.serp-stars img {
  margin-right: 2px;
}

.serp-stars p {
  color: #5b6871;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 5px;
}

.icons-right {
  top: 8px;
  right: 8px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.icons-right img {
  flex-direction: column;
  margin: bottom 4px;
  display: flex;
}

@media (max-width: 800px) {
  .serp-flex-container {
    padding: 20px;
  }

  .serp-row {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
  }

  .serp-card {
    flex: 1 1 0;
    width: auto;
    height: auto;
  }

  #filters {
    display: none;
  }
}

/* TABLE SECTION */

.table-container {
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #101828;
  padding: 16px 24px;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
  width: 100%;
  color: #667085;
  border-collapse: collapse;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #b0babf;
  box-sizing: border-box;
  appearance: none;
  background-color: #f6f8f9;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-color: #b0babf;
}

th,
td {
  border-bottom: 1px solid #eaecf0;
  padding: 16px 24px;
  text-align: left;
  line-height: 18px;
}

tr:hover {
  background-color: #f9fafb;
}

th {
  background-color: #f9fafb;
}

.teams-badge {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badge {
  font-weight: 500;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: #f2f4f7;
  color: #344054;
  width: fit-content;
}

.purple {
  background-color: #f9f5ff;
  color: #6941c6;
}

.sky-blue {
  background-color: #eff8ff;
  color: #175cd3;
}

.indigo {
  background-color: #eff8ff;
  color: #3538cd;
}

.green {
  background-color: #ecfdf3;
  color: #027a48;
}

.green-dot {
  display: inline-flex;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #12b76a;
  margin-right: 10px;
}

.user-details img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.user-details .user-name {
  display: flex;
  flex-direction: column;
}

.user-details .user-name .name {
  font-weight: 500;
  color: #101828;
}

.trash-icon {
  margin: auto 0px auto 35px;
}

.pagination {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.mobile {
  display: none;
}

.desktop span,
.pagination .button {
  padding: 8px 12px;
  border-radius: 8px;
}

.pagination .button {
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.active {
  background-color: #f9f5ff;
  color: #7f56d9;
}

/* Testing hover effects here */
th:hover {
  color: #101828;
  cursor: default;
}

.desktop span:hover,
.pagination .button:hover {
  background-color: #f9f5ff;
  color: #7f56d9;
  font-weight: 500;
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1200px) {
  .shopping--ctg,
  .nav--list,
  tr > :last-child {
    display: none;
  }
}

@media (max-width: 800px) {
  .header--row--1 .blue--background,
  .header--row--1 form {
    display: none;
  }

  .header--row--1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table-container,
  h3,
  .pagination {
    padding: 4px 0px;
  }

  .pagination {
    margin-top: 10px;
  }

  th,
  td {
    padding: 8px 4px;
  }

  .button span,
  tr > :nth-last-child(-n + 3),
  .desktop {
    display: none;
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  .pagination .button {
    padding: 6px 8px;
  }

  .mobile {
    display: inline-block;
  }
}

/* Chat Icon */

.chat {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: #4094f7;
}

.chat svg {
  height: 35px;
  width: 35px;
}

@media (max-width: 800px) {
  .chat {
    bottom: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
  }

  .chat svg {
    height: 25px;
    width: 25px;
  }
}
